// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #f4f4f4;
$black: #333;
$white: #fff;
$common-text: #262626;
$blue: #3b5998;
$green: #5bc0bd;
$blue-light: #2ebaeb;
$orange: #f08a4b;
$blue-dark: #1c2541;

$base-font-sans-serif: 'Roboto', 'Helvetica', sans-serif;
$secondary-font: 'Lato', 'Baskerville', 'Georgia', sans-serif;

// Body
$base-text-color: $common-text !default;
$base-background-color: $gray !default;
$base-font-size: 24px !default;
$base-line-height: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $blue;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 48px !default;
$h2-font-size: 40px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;
